*{
    font-family: 'Poppins', sans-serif;
}
body{
    margin: 0;
}
h1{
    font-size: 50px;
    font-weight: 700;
  
}
h2{
    font-size: 30px;
    font-weight: 600;
}
.orange-color{
    color: #F88768;
}
section{
    display: flex;
    margin-bottom: 100px;
}
.half-width{
    width: 50%;
    padding-left: 10%;
}
.half-width img{
    width: 80%;
    margin-top: 30px;
   
}

.hire-btn{
    background-color: #F88768;
    color: white;
    padding: 5px;
    border-radius: 3px;
    text-decoration: none;
}
.top-banner{
    background-image: url(img/top-banner.png);
    background-repeat: no-repeat;
    
}
.bottom-banner{
    background-image: url(img/dream-bg.png);
    background-position: right;
    background-repeat: no-repeat;
}

