*{
    font-family: 'Poppins', sans-serif;
}
body{
    margin: 0;
}
h1{
    font-size: 50px;
    font-weight: 700;
  
}
h2{
    font-size: 30px;
    font-weight: 600;
}
.orange-color{
    color: #F88768;
}
.felxible-container{
    display: flex;
    margin-bottom: 100px;
}
.half-width{
    width: 50%;
    padding-left: 10%;
    padding-right: 10%;
}
.half-width img{
    width: 100%;
    margin-top: 30px;
   
}

.hire-btn{
    background-color: #F88768;
    color: white;
    padding: 5px;
    border-radius: 3px;
    text-decoration: none;
}
.top-banner{
    background-image: url(img/top-banner.png);
    background-repeat: no-repeat;
    
}
.bottom-banner{
    background-image: url(img/dream-bg.png);
    background-position: right;
    background-repeat: no-repeat;
}
.experience{
    display: flex;
    background-image: url(img/exp-bg.png);
    background-position: left;
    background-repeat: no-repeat;
}
#experience1{
    border-left: 5px solid purple;
    background-color: #FFC61D;
    
    border-radius: 10px;
    margin: 10px;
    padding: 20px;
    color: black;
    
    
}
#experience2{
    border-left: 5px solid purple;
    background-color: #FF418C;
    border-radius: 10px;
    margin: 10px;
    padding: 20px;
    color: white;
    
   
    
}
.experience-area{
    margin: auto;
    width: 60%;
    align-items: center;
}

.exp-txt{
    text-align: center;
}
.portfolio{
    text-align: center;
}
.exp-section{
   
    width: 80%;
    display: flex;
    margin: 100px auto;
   
}
.exp-section img{
    width: 99%;
    margin: auto;
    border-radius: 10px;
}

footer p{
    text-align: center;
}
.portfolio img{
    transition: transform .2s;
}
.portfolio img:hover{
    transform: scale(1.1);
}


